:root {
  --brand-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --bg-dark-color: #2f303a;
  --bg-light-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ------ Header ------ */

.header {
  background: #fff;
}

.header-nav {
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--brand-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-logo-accent {
  color: #000;
}

.header-nav-list {
}

.header-nav-item {
}

.header-nav-link {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--brand-color);
}

.header-contacts {
}

.header-contacts-list {
}

.header-contacts-item {
}

.header-contacts-link {
  color: var(--secondary-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--brand-color);
}

/* ------ Hero ------ */
.hero-section {
  background: var(--bg-dark-color);
}

.hero-title {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  text-align: center;
  background: var(--brand-color);
  border: none;
  border-radius: 0.06em;
  cursor: pointer;
}

/* ------ Features ------ */
.features-section {
}

.features-title {
}

.features-list {
}

.features-item {
}

.features-subtitle {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ------ Whah are we doing ------ */
.doing-section {
}

.doing-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.doing-list {
}

.doing-item {
}

/* ------ Team ------ */
.team-section {
  background: var(--bg-light-color);
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
}

.team-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-role {
  color: var(--secondary-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* ------ Portfolio ------ */
.portfolio-section {
}
.portfolio-title {
}
.portfolio-filters-list {
}
.portfolio-filters-item {
}
.portfolio-filter-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background: var(--bg-light-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  color: #fff;
  background: var(--brand-color);
}

.portfolio-cards-list {
}
.portfolio-cards-item {
}
.portfolio-card-link {
}
.portfolio-card-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-card-sketch {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* ------ Footer ------ */
.footer {
  background: var(--bg-dark-color);
}

.footer-logo-accent {
  color: #fff;
}

.footer-contacts {
}

.footer-contacts-list {
}

.footer-contacts-item {
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-physical-address {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-physical-address:hover,
.footer-physical-address:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--brand-color);
}
